asgiref==3.11.1
boto3==1.43.108
certifi==2026.6.17
coverage==7.14.3
Django==6.0.4
django-storages==1.14.6
gunicorn==25.3.0
packaging==26.0
pillow==12.2.0
psycopg==3.3.3
psycopg-binary==3.3.3
pypdf==6.18.1
python-dotenv==1.2.2
ruff==0.15.10
sentry-sdk==2.63.0
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.7.0
whitenoise==6.12.0
